{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "12"
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-transform-arrow-functions",
		"@babel/plugin-transform-runtime",
		"transform-es2015-modules-commonjs",
		"@babel/plugin-syntax-dynamic-import"
	]
}
